<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChoiceQuestion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A239A661E8D0F570098AF5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A239A7F1E8D0F570098AF5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A239A8A1E8D0F570098AF5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
